/*////////////// Fonts //////////////*/

/* link the web font used for the level 1 heading here */

/*////////// Global Styles //////////*/

body {
	background: #F3EBE9;
	font-size: 100%;
	font-family: 'Times New Roman', serif; 
}

.wrapper {
	width: 960px;
	margin: 0 auto;
	background: #fff;
	padding: 0 45px 20px;
}

.main-pic img {
	border-style: solid;
	border-color: grey;
	border-width: 5px;
}

.wrapper h1 {
	color: grey;
	font-size: xx-large;
}

#details div {
	text-align: center;
	float: left;
	width: 20%;
	padding: 10px;
	border-style: solid;
	border-color: grey;
	border-width: 5px;
  }
/* Write all remaining styles here */